<nav class="navbar navbar-fixed-bottom grad-bottom">
  <span class="credits">
    {{ site.data.site.name }} ® 2015 — <a href="mailto:{{ site.data.site.email }}">{{ site.data.site.email }}</a> — {{ site.data.site.tel }} — Design by <a href="http://basora.info" target="_blank">Basora</a> — Coded by <a href="http://www.agusti.cat" target="_blank">Agusti B.R.</a>
  </span>
  <span class="scroll-down">
    <svg><use xlink:href="{{ "/svg/icons.svg#svg-arrow" | prepend: site.baseurl | prepend:site.url }}"></use></svg>
  </span>
</nav>
