<!-- js here -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ "/js/jquery.min.js" | prepend: site.baseurl | prepend: site.url }}"><\/script>')</script>

<script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl | prepend: site.url }}"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
<script src="{{ "/js/script.js" | prepend: site.baseurl | prepend: site.url }}"></script>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

<script type="text/javascript">
    // When the window has finished loading create our google map below
    google.maps.event.addDomListener(window, 'load', init);

    function init() {
        // Basic options for a simple Google Map
        // For more options see: https://developers.google.com/maps/documentation/javascript/reference#MapOptions
        var mapOptions = {
            zoom: 16,

            // The latitude and longitude to center the map (always required)
            center: new google.maps.LatLng(41.396691, 2.188858),

            // How you would like to style the map.
            // This is where you would paste any style found on Snazzy Maps.
            styles: [{"featureType":"administrative.country","elementType":"geometry.stroke","stylers":[{"lightness":-5},{"color":"#b0b0b0"},{"weight":1.7}]},{"featureType":"administrative.province","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"landscape","elementType":"geometry","stylers":[{"color":"#F9A995"},{"lightness":26}]},{"featureType":"poi","elementType":"geometry","stylers":[{"color":"#F9A995"}]},{"featureType":"road.highway","elementType":"all","stylers":[{"color":"#F9A995"},{"lightness":66}]},{"featureType":"road.arterial","elementType":"all","stylers":[{"color":"#F9A995"},{"lightness":70}]},{"featureType":"road.local","elementType":"all","stylers":[{"color":"#F9A995"},{"lightness":70}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"geometry","stylers":[{"color":"#F9A995"},{"lightness":66}]}]
        };

        // Get the HTML DOM element that will contain your map
        // We are using a div with id="map" seen below in the <body>
        var mapElement = document.getElementById('map');

        // Create the Google Map using our element and options defined above
        var map = new google.maps.Map(mapElement, mapOptions);

        // Let's also add a marker while we're at it
        var marker = new google.maps.Marker({
            position: new google.maps.LatLng(41.396691, 2.188858),
            map: map,
            title: 'Carrer de Zamora, 111, 08018 Barcelona'
        });
    }
</script>
