<div class="collapse fade" id="collapseMenu">
  <div class="card card-block">
    <div class="text-center">
        <button
          class="btn btn-primary-outline btn-sm btn-menu-close"
          type="button"
          data-toggle="collapse"
          data-target="#collapseMenu"
          aria-expanded="false"
          aria-controls="collapseMenu"
          aria-label="Close">
        TANCA
      </button>
    </div>
    <section>
      <div class="content">
        <ul id="mb-nav" class="nav nav-pills nav-stacked text-center">
          <li class="nav-item">
            <a href="{{ "/#massatge" | prepend: site.baseurl | prepend:site.url }}" class="nav-link">Massatge</a>
          </li>
          <li class="nav-item">
            <a href="{{ "/#blog" | prepend: site.baseurl | prepend:site.url }}" class="nav-link">Blog</a>
          </li>
          <li class="nav-item">
            <a href="{{ "/#contacte" | prepend: site.baseurl | prepend:site.url }}" class="nav-link">Contacte</a>
          </li>
        </ul>
      </div>
    </section>
  </div>
</div>
<nav class="navbar navbar-fixed-top grad-top text-center">
  <!-- <button type="button" class="btn btn-primary-outline btn-sm btn-menu-trigger" data-toggle="modal" data-target="#mb-menu-modal">MENU</button> -->
  <button
    class="btn btn-primary-outline btn-sm btn-menu-trigger"
    type="button"
    data-toggle="collapse"
    data-target="#collapseMenu"
    aria-expanded="false"
    aria-controls="collapseMenu">
    MENU
  </button>
</nav>
