<nav class="navbar navbar-fixed-top grad-top text-center">
  <button type="button" class="btn btn-primary-outline btn-sm btn-menu-trigger" data-toggle="modal" data-target="#mb-menu-modal">MENU</button>
</nav>
<!-- Large modal -->

<div id="mb-menu-modal" class="modal modal-fullscreen fade" tabindex="-1" role="dialog" aria-labelledby="MENU" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="text-center">
        <button type="button" class="btn btn-primary-outline btn-sm btn-menu-close" data-dismiss="modal" aria-label="Close">
          TANCA
        </button>
      </div>
      <ul id="mb-nav" class="nav nav-pills nav-stacked text-center">
        <li class="nav-item">
          <a href="#massatge" class="nav-link">Massatge</a>
        </li>
        <li class="nav-item">
          <a href="#blog" class="nav-link">Blog</a>
        </li>
        <li class="nav-item">
          <a href="#contacte" class="nav-link">Contacte</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!--
<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">


    </nav>

  </div>

</header>
-->
