{% assign landing-link = site.pages | where:"sibling", "landing" | where:"lang", page.lang %}

<div class="collapse fade" id="collapseMenu">
  <div class="card card-block">
    <div class="text-center">
        <button
          class="btn btn-primary-outline btn-menu-close"
          type="button"
          data-toggle="collapse"
          data-target="#collapseMenu"
          aria-expanded="false"
          aria-controls="collapseMenu"
          aria-label="Close">
          {{ site.data.locale["close"][page.lang] }}
      </button>
    </div>
    <section>
      <div class="content">
        <ul id="mb-nav" class="nav nav-pills nav-stacked text-center">
          <li class="nav-item">
            <a href="{{ "#massage" | prepend: landing-link[0].url | prepend: site.baseurl | prepend:site.url }}" class="nav-link">{{ site.data.locale["massage"][page.lang] }}</a>
          </li>
          <li class="nav-item">
            <a href="{{ "#about" | prepend: landing-link[0].url | prepend: site.baseurl | prepend:site.url }}" class="nav-link">{{ site.data.locale["about"][page.lang] }}</a>
          </li>
          <li class="nav-item">
            <a href="{{ "#gift" | prepend: landing-link[0].url | prepend: site.baseurl | prepend:site.url }}" class="nav-link">{{ site.data.locale["gift"][page.lang] }}</a>
          </li>
          <li class="nav-item">
            <a href="{{ "#contact" | prepend: landing-link[0].url | prepend: site.baseurl | prepend:site.url }}" class="nav-link">{{ site.data.locale["contact"][page.lang] }}</a>
          </li>
          <li class="nav-item">
            <a href="{{ "#blog" | prepend: landing-link[0].url | prepend: site.baseurl | prepend:site.url }}" class="nav-link">{{ site.data.locale["blog"][page.lang] }}</a>
          </li>
          <li>&nbsp;</li><li>&nbsp;</li>
          {% include lang-switcher.html %}
        </ul>
      </div>
    </section>
    <ul class="social-list list-inline text-center">
      <li>
        <a href="#">
          <svg><use xlink:href="{{ "/svg/icons.svg#svg-facebook" | prepend: site.baseurl | prepend:site.url }}"></use></svg>
        </a>
      </li>
      <li>
        <a href="#">
          <svg><use xlink:href="{{ "/svg/icons.svg#svg-twitter" | prepend: site.baseurl | prepend:site.url }}"></use></svg>
        </a>
      </li>
      <li>
        <a href="#">
          <svg><use xlink:href="{{ "/svg/icons.svg#svg-instagram" | prepend: site.baseurl | prepend:site.url }}"></use></svg>
        </a>
      </li>
    </ul>
  </div>
</div>
<nav class="navbar navbar-fixed-top grad-top text-center {% if page.pink %}grad-pink{% endif %}">
  <button
    class="btn btn-primary-outline btn-menu-trigger {% if page.pink %}btn-pink{% endif %}"
    type="button"
    data-toggle="collapse"
    data-target="#collapseMenu"
    aria-expanded="false"
    aria-controls="collapseMenu">
    {{ site.data.locale["menu"][page.lang] }}
  </button>
</nav>
