#blog .card,
body.blog .card
  color: $color-white
  text-decoration: none
  display: block
  .card-img-blog
    display: block
    overflow: hidden
    text-align: center
    width: 100%
    height: 20rem
    img
      height: 100%
      width: auto
      display: block
      @extend %inkwell
  .card-block
    padding-left: 0
    padding-right: 0
    +respond-to(md)
      text-align: center
  .card-title
    @extend .fz-txt
  .card-text
    @extend .fz-sm
  .read-more
    @extend .fz-txt
    line-height: .6em
    color: $color-white
.blog
  margin-bottom: 4rem
  header
    background: $color-pink
    text-align: center
    color: $color-white
    padding-top: $spacer-y * 2
    padding-bottom: $spacer-y
    a
      color: $color-white
      font-size: 80%
  article
    background: $color-pink
    color: $body-color-post
    .post-image
      margin-top: $spacer-y
      margin-bottom: $spacer-y
