.site-title
  margin-bottom: 0
.lead
  text-align: center
  padding-right: 3em
  padding-left: 3em
  +respond-to(md)
    font-size: $fz-txt-mobile
    padding-right: 1.3em
    padding-left: 1.3em
  p
    margin-bottom: 1.5rem
    line-height: 1.2
  ul
    margin-bottom: 2.5rem
hr
  border-color: $color-white
  border-width: .2rem
  width: 8rem
  section &
    margin: (($spacer * 4) + ($spacer / 2)) auto

.embed-responsive
  margin: 4rem 0
.mb-4rem
  margin-bottom: 4rem
.mb-2rem
  margin-bottom: 2rem
#contact
  h1
    margin-bottom: 1rem
  p
    margin-bottom: 0
  a
    color: $color-white
    text-decoration: underline
  li
    line-height: 1.3em
  form
    margin-bottom: 2em
  .form-control
    @extend .fz-txt
    line-height: 1em
    text-align: center
    color: $color-white
    background-color: $body-bg
    border: none
    border-bottom: 1px solid $color-white
    @include border-radius(0)
    @include box-shadow($input-box-shadow)
    @include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s)
    &#name
      border-top: 1px solid $color-white
.btn-landing-mb
  color: $color-white
  &:hover
    color: rgba($color-white, .7)
  &:active,
  &:focus
    color: $color-pink

::-webkit-input-placeholder
  color: $color-white
::-moz-placeholder
  opacity: 1
  color: $color-white
::-ms-input-placeholder
  color: $color-white
  .embed-responsive
    margin-bottom: 0

.credits
  text-align: center
  @extend .fz-sm
  a
    color: darken( $color-white, 5 )
    &:hover
      text-decoration: underline
