#mfPreviewBar
  display: none !important

// Type Rendering Mix JS adds .tr-coretext when
.tr-coretext
  -webkit-font-smoothing: antialiased
  font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

body
  letter-spacing: 0.05em
  font-weight: $base-font-weight

body.page,
body.temp
  padding-top: $gradient-height
  padding-bottom: $gradient-height
  color: $body-color-page
  .container-fluid
    padding-right: 0
    padding-left: 0

html,
body.page,
body.temp,
.vertical-center-container
  height: 100%

.vertical-center-container
  display: table
  vertical-align: middle

.vertical-center-row
  display: table-cell
  vertical-align: middle

.grad-top
  height: $gradient-height
  background: linear-gradient(to top, rgba($color-white, 0), $color-white)
  border-top: 1em solid $color-white

.grad-bottom
  height: $gradient-height
  background: linear-gradient(to bottom, rgba($color-white, 0), $color-white)
  border-bottom: 1em solid $color-white

.fz-txt
  font-size: $fz-txt
  font-weight: $base-font-weight
.fz-lg
  font-size: $fz-lg
  font-weight: $base-font-weight
.fz-sm
  font-size: $fz-sm
  font-weight: $base-font-weight
  letter-spacing: -0.01em
  line-height: 1.1em

section
  height: $viewport-height
  width: 100%
  padding-right: ($grid-gutter-width / 2)
  padding-left: ($grid-gutter-width / 2)
  display: table
  &.no-gutters
    padding-right: 0
    padding-left: 0
    .row
      margin-left: 0
      margin-right: 0
  .content
    padding-top: ($gradient-height / 2)
    padding-bottom: ($gradient-height / 2)
    display: table-cell
    vertical-align: middle

.scroll-down
  // font-size: .65em
  // -webkit-transform: rotate(90deg)
  // -moz-transform: rotate(90deg)
  // -ms-transform: rotate(90deg)
  // -o-transform: rotate(90deg)
  // filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3)
  // transform: rotate(90deg)
  position: absolute
  display: inline-block
  bottom: 3em
  left: 0
  right: 0
  color: $color-white
  text-align: center
  svg
    display: inline-block
    fill: currentColor!important
    height: 6em
    width: 6em
    vertical-align: middle
