#mfPreviewBar
  display: none !important

body.page,
body.temp
  padding-top: $gradient-height
  padding-bottom: $gradient-height
  color: $body-color-page
  .container-fluid
    padding-right: 0
    padding-left: 0

html,
body.page,
body.temp,
.vertical-center-container
  height: 100%

.vertical-center-container
  display: table
  vertical-align: middle

.vertical-center-row
  display: table-cell
  vertical-align: middle


.grad-top
  height: $gradient-height
  background: linear-gradient(to top, rgba($color-white, 0), $color-white)
  border-top: 1em solid $color-white

.grad-bottom
  height: $gradient-height
  background: linear-gradient(to bottom, rgba($color-white, 0), $color-white)
  border-bottom: 1em solid $color-white

.btn-menu-trigger
  color: $color-pink
  border-color: transparent
.modal-backdrop
  background-color: $color-white
  &.in
    opacity: 1
.modal-content
  border-color: transparent
.site-title
  font-size: 4rem
  font-weight: normal

section
  height: $viewport-height
  width: 100%
  border-bottom: 1px solid darken( $color-pink, 2 )
  padding-right: ($grid-gutter-width / 2)
  padding-left: ($grid-gutter-width / 2)
  display: table
  &.no-gutters
    padding-right: 0
    padding-left: 0
    .row
      margin-left: 0
      margin-right: 0
  .content
    padding-top: $gradient-height
    padding-bottom: $gradient-height
    display: table-cell
    vertical-align: middle
.lead
  font-size: 2em
  text-align: center
  padding-right: 1em
  padding-left: 1em
.scroll-down
  font-size: .65em
  -webkit-transform: rotate(90deg)
  -moz-transform: rotate(90deg)
  -ms-transform: rotate(90deg)
  -o-transform: rotate(90deg)
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3)
  transform: rotate(90deg)
  position: absolute
  display: inline-block
  bottom: 110%
  left: 46%
#content-contact,
#content-contact p,
#content-contact li
  font-size: .8rem
  line-height: 1.1em
.embed-responsive
  margin: 4rem 0

body.page .form-control
  // padding: $input-padding-y $input-padding-x
  font-size: $font-size-base * 2
  // line-height: $line-height
  text-align: center
  color: $color-white
  background-color: $body-bg
  border: none
  border-bottom: 1px solid $color-white
  @include border-radius(0)
  @include box-shadow($input-box-shadow)
  @include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s)
body.page ::-webkit-input-placeholder,
body.page :-moz-placeholder,
body.page ::-moz-placeholder,
body.page :-ms-input-placeholder
  color: $color-white
