.btn-menu-trigger,
.btn-menu-close
  color: $color-pink
  &.btn-pink
    color: $color-white
  border-color: transparent
  @extend .fz-sm
  &:hover,
  &:focus,
  &:active
    color: lighten($color-pink, 5)
    background-color: transparent
    border-color: transparent
    outline: none !important
  &:focus
    color: $color-white

.modal-backdrop
  background-color: $color-white
  &.in
    opacity: 1
.modal-content
  border-color: transparent

#collapseMenu
  background: $color-white
  position: fixed
  top: 0
  bottom: 0
  left: 0
  right: 0
  z-index: 999999
  section
    // margin-top: $gradient-height / 2
    border-bottom: none
    .content
      padding-top: 15vh
  .nav-link
    @extend .fz-lg
    color: $color-pink
    padding: .2em 3em
    line-height: .8em
    &.active,
    &:hover
      color: lighten($color-pink, 10)
      background-color: transparent
      border-color: transparent
.fade.in
  transition: opacity .15s linear

.social-list
  position: absolute
  bottom: 3em
  right: 0
  left: 0
  svg
    display: inline-block
    fill: currentColor!important
    height: 1.5rem
    width: 1.5rem
    vertical-align: middle
