#collapseMenu
  background: $color-white
  position: fixed
  top: 0
  bottom: 0
  left: 0
  right: 0
  z-index: 999999
  section
    margin-top: $gradient-height / 2
    border-bottom: none
  .nav-link
    font-size: 2rem
    padding: .1em 1em
.fade.in
  transition: opacity .15s linear
