---
layout: default
---
{% assign landing-link = site.pages | where:"sibling", "landing" | where:"lang", page.lang %}

<body class="blog">
  <header class="container-fluid">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <h1>{{ page.title }}</h1>
        {% if page.sibling != 'blog' %}
          <p>
            <small>
            {% if page.categories %}{{ page.categories | array_to_sentence_string }} | {% endif %}
            {{ page.date | date: "%d %b %Y" }}
            </small>
          </p>
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 text-left">
        <a href="{{ landing-link[0].url | prepend: site.baseurl | prepend: site.url }}">
          {{ site.data.locale["landing"][page.lang] | upcase }}
        </a>
      </div>
    </div>
  </header>
  <article class="container-fluid">
    <div class="col-md-1">&nbsp;</div>
    <div class="col-md-10">
      <div class="row">
        <br>
        {% assign postsInLang = (site.posts | where: "lang" , page.lang) %}
        {% for post in postsInLang %}
          <div class="col-md-4">
            <a class="card" href="{{ post.url | prepend:site.baseurl | prepend: site.url}}" >
              <div class="card-img-blog">
                <img class="" src="{{ site.baseurl | prepend: site.url }}{{ post.image | prepend: '/images/'}}" alt="{{ post.title }} image"/>
              </div>
              <div class="card-block">
                <h4 class="card-title">{{ post.title }}</h4>
                <p class="card-text">{{ post.content | strip_html | truncatewords: 10 }}</p>
                <span class="read-more fz-lg" title="{{ site.data.locale["read-more"][page.lang] }} &gt;">+</span>
              </div>
            </a> <!-- /.card -->
          </div> <!-- /.col -->
        {% endfor %}
      </div> <!-- /.row -->
    </div> <!-- /.col -->
    <div class="col-md-1">&nbsp;</div>
  </article>

</body>
