---
layout: default
---
<body class="post">
  <header class="container-fluid">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <h1>{{ page.title }}</h1>
        <p>
          <small>
          {% if page.categories %}{{ page.categories | array_to_sentence_string }} | {% endif %}
          {{ page.date | date: "%d %b %Y" }}
          </small>
        </p>
      </div>
    </div>
  </header>
  <article class="container-fluid">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        {% if page.image %}
          <img
            class="post-image img-responsive"
            src="{{ site.baseurl | prepend: site.url }}{{ page.image | prepend: '/images/'}}"
            alt="{{ page.title }}, {{ site.title }}" />
        {% endif %}

        {{ content }}

      </div>
    </div>
  </article>

  <nav class="vertical-center-">
    <div class="vertical-center-container">
      {% if page.previous.url %}
        <a href="{{ page.previous.url | prepend: site.baseurl | prepend: site.url }}" class="prev vertical-center-row">
          OLDER
        </a>
      {% endif %}
    </div>
    <div class="vertical-center-container">
      {% if page.next.url %}
        <a href="{{ page.next.url | prepend: site.baseurl | prepend: site.url }}" class="next vertical-center-row">
          NEWER
        </a>
      {% endif %}
    </div>
  </nav>

  <footer class="text-center">
    <a href="{{ site.baseurl | prepend: site.url }}">
        {{ site.title }}
    </a> |
    <a href="{{ "/blog" | prepend: site.baseurl | prepend: site.url }}">
      Blog
    </a>
  </footer>

</body>
