---
layout: default
---
{% assign landing-link = site.pages | where:"sibling", "landing" | where:"lang", page.lang %}
{% assign blog-link = site.pages | where:"sibling", "blog" | where:"lang", page.lang %}

<body class="post">
  <header class="container-fluid">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <h1>{{ page.title }}</h1>
        <p>
          <small>
          {% if page.categories %}{{ page.categories | array_to_sentence_string | replace: ', and ', site.data.locale["and"][page.lang] }} | {% endif %}
          {{ page.date | date: "%d %b %Y" }}
          </small>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 text-left">
        <a href="{{ landing-link[0].url | prepend: site.baseurl | prepend: site.url }}">{{ site.title | upcase }}</a>
      </div>
      <div class="col-md-4">&nbsp;</div>
      <div class="col-md-4 text-right">
        <a href="{{ blog-link[0].url | prepend: site.baseurl | prepend: site.url }}">{{ site.data.locale["all-posts"][page.lang] }}</a>
      </div>
  </header>
  <article class="container-fluid">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        {% if page.image %}
          <img
            class="post-image img-responsive"
            src="{{ site.baseurl | prepend: site.url }}{{ page.image | prepend: '/images/'}}"
            alt="{{ page.title }}, {{ site.title }}" />
        {% endif %}

        {{ content }}

      </div>
    </div>
  </article>

  <nav>
  <!-- TODO: next/prev post in lang-->
    {% for post in site.categories[page.lang] %}
      {% if post.title == page.title %}
        <h1>{{ post.title }} {{forloop.index0}} {{site.categories[page.lang][forloop.index0].title}}</h1>
      {% endif %}
    {% endfor %}

    {% if page.previous.url %}
      <a href="{{ page.previous.url | prepend: site.baseurl | prepend: site.url }}" class="prev">
        <svg><use xlink:href="{{ "/svg/icons.svg#svg-arrow" | prepend: site.baseurl | prepend:site.url }}"></use></svg>
      </a>
    {% endif %}
    {% if page.next.url %}
      <a href="{{ page.next.url | prepend: site.baseurl | prepend: site.url }}" class="next">
        <svg><use xlink:href="{{ "/svg/icons.svg#svg-arrow" | prepend: site.baseurl | prepend:site.url }}"></use></svg>
      </a>
    {% endif %}
  </nav>

</body>
