---
layout: default
---
<body class="post">
  <header class="container-fluid">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <h1>{{ page.title }}</h1>
        <p>
          <small>
          {% if page.categories %}{{ page.categories | array_to_sentence_string }} | {% endif %}
          {{ page.date | date: "%d %b %Y" }}
          </small>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 text-left">
        <a href="{{ "/" | prepend: site.baseurl | prepend: site.url }}">{{ site.title | upcase }}</a>
      </div>
      <div class="col-md-4">&nbsp;</div>
      <div class="col-md-4 text-right">
        <a href="{{ "/blog" | prepend: site.baseurl | prepend: site.url }}">{{ "Totes les entrades" | upcase }}</a>
      </div>
  </header>
  <article class="container-fluid">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        {% if page.image %}
          <img
            class="post-image img-responsive"
            src="{{ site.baseurl | prepend: site.url }}{{ page.image | prepend: '/images/'}}"
            alt="{{ page.title }}, {{ site.title }}" />
        {% endif %}

        {{ content }}

      </div>
    </div>
  </article>

  <nav>
    {% if page.previous.url %}
      <a href="{{ page.previous.url | prepend: site.baseurl | prepend: site.url }}" class="prev">
        OLDER
      </a>
    {% endif %}
    {% if page.next.url %}
      <a href="{{ page.next.url | prepend: site.baseurl | prepend: site.url }}" class="next">
        NEWER
      </a>
    {% endif %}
  </nav>

</body>
